<!-- <div class = "col-md-3">
        <div class="card" style="width: 18rem;">
          <img src={{data.hemisphere_image[1].img_url}} class="card-img-top" alt={{data.hemisphere_image[1].title}}>
          <div class="card-body">
            <p class="card-text">{{data.hemisphere_image[1].title}}</p>
          </div>
        </div>
      </div>

      <div class = "col-md-3">
        <div class="card" style="width: 18rem;">
          <img src={{data.hemisphere_img[2].image_url}} class="card-img-top" alt={{data.hemisphere_image[2].title}}>
          <div class="card-body">
            <p class="card-text">{{data.hemisphere_image[2].title}}</p>
          </div>
        </div>
      </div>

      <div class = "col-md-3">
        <div class="card" style="width: 18rem;">
          <img src={{data.hemisphere_image[3].img_url}} class="card-img-top" alt={{data.hemisphere_image[3].title}}>
          <div class="card-body">
            <p class="card-text">{{data.hemisphere_image[3].title}}</p>
          </div>
        </div>
      </div> -->